
$default-padding:1rem;

@font-face {
    font-family: "bebas";
    src: url("../../Assets/fonts/bebas.ttf");
}
@font-face {
    font-family: "inter";
    src: url("../../Assets/fonts/inter.ttf");
}
@font-face {
    font-family: "montserrat";
    src: url("../../Assets/fonts/montserrat.ttf");
}

*{
    ::-webkit-scrollbar{
        width: 0px;
        height: 0px;
    }
    ::-ms-scrollbar{
        width: 0px;
        height: 0px;
    }
    ::-moz-scrollbar{
        width: 0px;
        height: 0px;
    }
    scrollbar-width: 0px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100%;
    overflow-y: scroll;
}

#app,.container,#HomeDiv{
    width: 100%;
    height: 100%;
}

#HomeDiv{
    #NavBar{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: calc($default-padding * 2);
        #NavList{
            display: none;
        }
    }
    #contentDiv{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 0 calc($default-padding * 2);
        margin-top: 4rem;
        #introtextDiv{
            &HeadP{
                font-size:2.4rem;
                font-weight: 800;
                font-family: bebas;
                padding-bottom: 2rem;
                #contentDivMainPTextSpan{
                    color: navy;
                    text-align: justify;
                }
            }
            &BodyP{
                font-family: montserrat;
            }
        }
        #introImageDiv{
            width: 100%;
            height: 45vh;
            display: flex;
            justify-content: center;
            &Img{
                width: auto;
                height: 100%;
            }
        }
    }
    #ProofOneDiv{
        margin-top: 4rem;
        &MainP{
            display: inline-block;
            width: 100%;
            padding: 0 2rem;
            text-align: center;
            font-size: 1.8rem;
            font-weight: 700;
            font-family: bebas;
        }
        &SubDiv{
            &BankLogos{
                display: flex;
                flex-wrap: nowrap;
                overflow-x: scroll;
            }
            #moreDiv{
                display: none;
            }
        }
    }
    #pitchDiv{
        padding: 0 1rem;
        &MainP{
            display: inline-block;
            width: 100%;
            padding-top: 3rem;
            padding-bottom: 2rem;
            text-align: center;
            font-size: 1.4rem;
            font-weight: 700;
            font-family: bebas;
        }
        &ContentDiv{
            width: 100%;
            height: 65vh;
            border-radius: 1.2rem;
            background-color: black;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: hidden;
            &HeadingP{
                display: inline-block;
                width: 80%;
                font-size: 1.5rem;
                font-weight: 900;
                font-family: bebas;
                text-align: center;
                padding: 1rem;
            }
            &BodyP{
                text-align: center;
                font-family: montserrat;
                display: inline-block;
                padding: 0 1.8rem;
            }
            &ImageDiv{
                height: 70%;
                margin-top: 4rem;
                &Img{
                    width: auto;
                    height: 100%;
                }
            }
        }
    }
    #pricingDiv{
        margin-top: 3rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &P{
            display: inline-block;
            width: 80%;
            padding: 0 1rem;
            text-align: center;
            font-size: 1.5rem;
            font-weight: 800;
            font-family: bebas;
            margin-bottom: 2rem;
        }
        &ContentDiv{
            width: 100%;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            #CardOne{
                width: 100%;
                height: 40vh;
                background-color: black;
                color: white;
                border-radius: 1rem;
                padding: 2rem 1rem;
                font-family: montserrat;
                &TopLeftP{
                    font-weight: 700;
                }
                &ContentDiv{
                    margin-top: 3.5rem;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    &Span{
                        display: flex;
                        justify-content: center;
                        align-items: baseline;
                        &AmountP{
                            font-size: 2rem;
                            font-weight: 700;
                        }
                        &MoP{
                            font-size: 1.4rem;
                        }
                    }
                    &MainPContent{
                        text-align: center;
                        display: inline-block;
                        padding: 0 0.5rem;
                    }
                }
            }

            #CardTwoDiv{
                width: 100%;
                height: 40vh;
                overflow: hidden;
                background-color: goldenrod;
                border-radius: 1rem;
                padding: 2.5rem 1rem;
                display: flex;
                flex-direction: column;
                gap: 1.2rem;
                font-family: montserrat;
                &SignalP{
                    font-weight: 700;
                    font-size: 1.2rem;
                }
                &ContentP{
                    text-align: center;
                }
                &ImageDiv{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    height: 40vh;
                    padding-top: 1.5rem;
                    &Img{
                        width: auto;
                        height: 100%;
                    }
                }
            }
        }
    }
    #testimonialsDiv{
        width: 100%;
        margin-top: 3rem;
        &HeaderP{
            width: 100%;
            display: inline-block;
            text-align: center;
            font-weight: 700;
            font-size: 1.5rem;
            font-family: bebas;
            margin-bottom: 1rem;
        }
        &MainContentDiv{
            width: 100%;
            height: 55vh;
            background-color: whitesmoke;
            position: relative;
            &TopFader,&BottomFader{
                position: absolute;                
                width: 100%;
                height: 3rem;
            }
            &TopFader{
                top: 0;
                background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.8) , rgba(245,245,245,0) );
            }
            &BottomFader{
                bottom: 0;
                background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.8) , rgba(245,245,245,0) );
            }
            &TestimonialDiv{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                overflow: scroll;
                #atestimonialDiv{
                    padding: 1rem;
                    height: 80%;
                    &Img{
                        width: auto;
                        height: 100%;
                    }
                }
            }
        }
    }
    #footerContainer{
        margin-top: 5rem;
        width: 100%;
        height:70vh;
        background-color: black;
        color: white;
        font-family: montserrat;
    }
}